.register-form-container {
  display: grid;
  justify-items: center;
  background-image: url('https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  padding-top: 10rem;
  padding-bottom: 33rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .register-form {
    width: 40%;
    padding: 2rem;
    background: white;

    h4 {
      padding-top: 1rem;
    }
  }

  label .form-label {
    font-size: 2rem;
    color: #f9f9f9;
  }

  form.homecook-radio {
    padding: 1rem 1rem;

    label.homecook-radio.yes {
      padding-left: 1rem;
    }

    label.homecook-radio.no {
      padding-left: 1rem;
    }

    button.btn.btn-dark {
      padding: 0.5rem 2rem;
    }
  }
}


