.search-cook.container {
  width: 100%;
}

.search-container {
  display: grid;
}

.cooks {
  margin-top: 2rem;
  

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }

  h4 {
    font-family: "Lato", serif;
    font-weight: 500;
  }



}