.seller-menu {

  padding-bottom: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    padding-top: 5rem;
  }
}



.seller-menu.add.button {
  padding-top: 0rem;
}
